*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 
 /* -------------login--------------- */

  .login-page{
    width: 800px;
    height: 410px;
    border-radius: 6px;
    position: absolute;
    top: 200px;
    left: 320px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 6px 12px, rgba(0, 0, 0, 0.04) 0px 2px 16px;
    border: 1px solid #74717150;
    z-index: 11111;
  }

  .corousel{
    width: 450px;
    height: 410px;
    background-color: rgb(255, 238, 232);
    /* border: 1px solid red; */
  }

  .login-section{
    width: 450px;
    height: 410px;
    padding: 10px;
    /* border: 1px solid red; */
  }

  .close-icon{
    font-size: 20px;
    margin: 10px;
    position: relative;
    left: 85%;
    cursor: pointer;
  }

  .login-form {
    flex-direction: column;
    gap: 10px;
  }

  .login-form input{
    width: 70%;
    padding: 10px;
    border: 1px solid #7872723b;
  }

  .login-form-btn{
    width: 60%;
    gap: 30px;
  }
  .login-page .login-form-btn h1{
    font-size: 12px;
    cursor: pointer;
    padding: 10px 20px;
    background-color: orangered;
  }
  .login-page .login-form-btn button{
    font-size: 12px;
    cursor: pointer;
    border-radius: 0;
    padding: 10px 20px;
    background-color: orangered;
  }
  .login-form-btn h1:hover{
    color: #3366cc;
  }
  .login-page p{
    font-size: 12px;
    margin-top: 10px;
    text-align: center;
    color: #666666;
  }

  .login-page a{
    text-decoration: none;
    color: #3366cc;
    font-weight: 600;
  }
  .footer-section{
    margin-top: 40px;
  }

  .footer{
    padding: 20px;
    border-top: 1px solid #78727283;
    position: relative;
    top: 18%;
  }

  @media only screen and (min-width: 240px) and (max-width: 768px) {
    .login-page{
      flex-direction: column;
      width: 400px;
      height: fit-content;
    }
    .corousel{
      width: 400px;
      height: 290px;
    }
    .login-section{
      width: 450px;
      height: fit-content;
      padding: 0px;
    }
    .login-page p{
      width: 250px;
      text-align: center;
      text-wrap: wrap;
    }
    .footer-section{
      margin-top: 10px;
      align-items: center;
    }
  }