*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.img-corousel-one img{
    position: relative;
    width: 250px;
}

#Imgcorousel-btn {
    /* border: 1px solid black; */
    width: 200px;
    justify-content: space-around;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 270px;
    right: 180px;
  }
  
  .dots-one {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .active-class-one {
    background-color: #000;
    width: 12px;
  }
  