
 *{
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: 600;
    font-family: 'Noto Sans', sans-serif;
  }
  a{
    list-style: none;
    text-decoration: none;
    color: var(--black);
  }
  :root{
    --orange:#F77728;
    --blue:#3366CC;
    --hoverblue:#3366cc19;
    --white:#FFFFFF;
    --black:#000000;
  }
  .flex{
    display: flex;
  }
  .flexj{
    display: flex;
    justify-content: center;
  }
  .flexa{
    display: flex;
    align-items: center;
  }
  .flexja{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flexc{
    flex-direction: column;
  }
 
:root {
    --orange: #F77728;
    --blue: #3366cc;
    --hoverblue: #3366cc19;
    --white: #FFFFFF;
    --black: #000000;
}
.wholenav {
    border-bottom: 0.5px solid lightgray;
    height: 50px;
    width: 100%;
}
.flightInfo nav {
    width: 1100px;
    height: 100%;
}
.flightInfoBody {
    width: 100%;
}
.flightInfovhbody {
    width: 1100px;
    margin-bottom: 50px;
    padding-top: 30px;
    justify-content: space-between;
}
.flightinfo-1-logo {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid gray;
}
.flightinfo-carddetails {
    margin-top: 30px;
    width: 100%;
}
.source-to-destination {
    font-size: 15px;
}
.source-to-destination svg {
    padding-top: 4px;
}
.flightinfodate {
    color: rgba(128, 128, 128, 0.82);
    font-size: 16px;
}

.leftdiv{
    width: 60%;    
}
.flightinfo-sou-To-des{
    margin-bottom: 20px;
}
.flightinfo-cardPhases img{
    width: 35px;
    height: 35px;
}
.flightinfo-cardPhases{
    font-size: 12px;
    color: gray;
    font-weight: 300;
    justify-content: space-between;
}
.flightinfo-cardPhase1st{
    padding-top: 4px;
    gap: 5px;
    height: 100%;
}
.flightinfo-cardPhase3st{
    width: 88%;
    color: black;
    justify-content: space-between;
}
.rightdiv{
    width: 300px;
    border: 1px solid lightgray;
    height: 300px;
    border-radius: 6px;
    gap: 20px;
    padding: 20px;
}
.rightdiv span{
    color: green;
}
.flightinfo-cardPhases .flgihtinfo-source{
    font-weight: 400;
    color: gray;
    font-size: 20px;
}
.flightinfo-cardPhases .clocksvg svg{
    scale: 0.9;
}
.flightinfo-price{
    border-bottom: 0.5px solid rgba(211, 211, 211, 0.523);
    height: 30%;
}
.rightdiv div{
    justify-content: space-between;
}
.flightinfo-SecondPart,.flightinfo-ThirdPart{
    margin-top: 50px;
}
.flightinfo-2-logo,.flightinfo-3-logo {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid gray;
}
.flightinfo-SecondPart h1 p{
    font-size: 12px;
    letter-spacing: 1px;
    color: gray;
    font-weight: 400;
}
.flightinfo-mobileinput{
    border: none;
}
.flightinfo-contactdetails{
    margin-top: 30px;
    width: 320px;
}
.flightinfo-contactdetails form{
    gap: 30px;
    
}
.flightInfo button{
   width: 100px;
   height: 35px;
   border-radius: 3px;
   align-self: flex-end;
   box-shadow: 3px 3px 8px lightgray,inset 3px 3px 8px lightgray;
   background-color: rgba(0, 72, 255, 0.242);
}
select{
    margin-bottom: 500px;
}

.flightinfo-contactdetails label{
    font-size: 20px;
}
.flightinfo-contactdetails input{
    border: 1px solid black !important;
    width: 300px;
    height: 35px;
    border-radius: 2px;
    padding-left: 20px;
    font-size: 16px;
    border: none;
    outline: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
  -webkit-appearance: none;
}
.errorcontact{
    margin-top: -15px;
    margin-bottom: -15px;
    color: red;
}
.flightinfo-travellerdetails{
    margin-top: 50px;
}
.country{
    border: 0.5px solid lightgray;  
    position: relative;
    width: 270px;
    height: 30px;
    border-radius: 2px;
}
.country-input{
    width: 250px;
    border: none;
    outline: none;
    padding-left: 10px;
    z-index: -1;
    background-color: white;
}
.country-downarrow,.gender-downarrow{
    transform: rotate(180deg) !important;
    transition: 0.2s ease-in;
}
.country-uparrow,.gender-uparrow{
    transform: rotate(0deg) !important;
    transition: 0.2s ease-in;
}
.country-pop{
    width: 100%;
    height: 300px;
    top: 35px;
    background-color: white;
    left: -0.5px;
    box-shadow: 2px 2px 10px lightgray;
    position: absolute;
    overflow-y: scroll;
    border: 0.5px solid lightgray;
    padding: 10px 0px;
    border-radius: 2px;
}
.country-pop::-webkit-scrollbar{
    display: none;
}
.country-pop div{
    width: 88%;
    padding: 5px 10px;
    border-radius: 3px;
}
.country-pop div:hover{
    background-color: rgba(211, 211, 211, 0.3);
}

.gender{
    position: relative;
    gap: 20px;
    width:100px ;
    border-radius: 3px;
    border: 0.5px solid lightgray;
}
.gender input{
    width: 60px;
    height: 30px;
    z-index: -1;
    background-color: white;
    padding-left: 10px;
    border: none;
    outline: none;
}
.gender-pop{
    border-radius: 5px;
    border: 0.5px solid lightgray;
    position: absolute;
    background-color: white;
    z-index: 10;
    box-shadow: 2px 2px 10px lightgray;
    left: 0;
    top: 30px;
    padding: 3px;
    width:100px;
}
.gender-pop p{
    border-radius: 2px;
    margin-top: 5px;
    padding: 3px;
}
.gender-pop p:hover{
    background-color: rgba(211, 211, 211, 0.281);
}
.flightInfo .fname,.flightInfo .lname{
    border: 0.5px solid lightgray;
    width: 200px;
    height: 30px;
    padding-left: 10px;
    font-size: 15px;
    border-radius: 2px;
}
.state{
    border: 0.5px solid lightgray;  
    position: relative;
    width: 270px;
    height: 30px;
    border-radius: 2px;
}
.state-input{
    width: 250px;
    border: none;
    outline: none;
    padding-left: 10px;
    z-index: -1;
    background-color: white;
}
.state-downarrow{
    transform: rotate(180deg) !important;
    transition: 0.2s ease-in;
}
.state-uparrow{
    transform: rotate(0deg) !important;
    transition: 0.2s ease-in;
}
.state-pop{
    width: 100%;
    height: 300px;
    top: 35px;
    left: -0.5px;
    box-shadow: 2px 2px 10px lightgray;
    position: absolute;
    overflow-y: scroll;
    z-index: 1;
    background-color: white;
    border: 0.5px solid lightgray;
    padding: 10px 0px;
    border-radius: 2px;
}
.state-pop::-webkit-scrollbar{
    display: none;
}
.state-pop div{
    width: 88%;
    padding: 5px 10px;
    border-radius: 3px;
}
.state-pop div:hover{
    background-color: rgba(211, 211, 211, 0.3);
}
.flightinfo-billinginput{
    border: 0.5px solid lightgray;
    width: 540px;
    padding-left: 10px;
    outline: none;
    height: 35px;
    border-radius: 2px;
    background-color: white;
    
}
.flightinfo-travellerdiv{
    width: 550px;
    justify-content: space-between;
}
.flightinfo-buttondiv{
    width: 550px;
    justify-content: end;
}
.flightInfo button:active{
    scale: 0.9;
}
.flightInfo .borderbottom{
    border-bottom: 200px;
}
.flightinfo-userdetails{
    color: red;
}





