* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }


  /* ----------Custom styles--------- */

  .flexCol{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .fs{
    font-size: 5px;
  }
  /* ----------Custom styles--------- */

  
  .home {
    height: fit-content;
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    /* border: 2px solid red; */
  }
  
  .home h1 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .home h2 {
    font-size: 16px;
    font-weight: 500;
  }

  .maxbox {
    width: 100%;
    border-radius: 8px;
    background: #f2edf9;
    background: var(--Grapetini-100, #f2edf9);
    height: 90px;
    position: relative;
    overflow: hidden;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}
  
  /*-------------------- Offer section-------------------- */
  
  .offer-sec {
    height: fit-content;
    margin-left: 25px;
  }
  
  .offer-secs h1 {
    font-size: 15px;
    font-weight: 600;
    padding: 10px 0;
  }
  
  #offer-corousel{
    box-shadow: rgba(0, 0, 0, 0.06) 0px 6px 12px, rgba(0, 0, 0, 0.04) 0px 2px 16px;
    border-radius: 6px;
    width: 240px;
    height: 220px;
    padding: 5px;
    position: relative;
  }
  
  .corousel-content {
    margin: 15px;
    padding: 10px 0;
    line-height: 2;
  }

  .corousel-content h2{
    font-size: 12px;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .corousel-content a{
    font-size: 14px;
    margin: 60px 0;
  }
  
  #more{
    font-size: 16px;
    margin: 15px 0;
  }

  #prevIcon,
  #nextIcon {
    font-size: 12px;
    font-weight: 900;
  }
  
  #corousel-btn {
    justify-content: space-between;
    width: 180px;
    color: gray;
    cursor: pointer;
    padding: 10px;
    position: relative;
    top: 30px;
    left: 30px;
  }
  
  .btn-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    overflow-x: hidden;
  }
  
  .dot {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #888282;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .active-class {
    background-color: #000;
    width: 12px;
  }
  .banner-container{
    flex-direction: column;
    gap: 30px;
  }
  .homebanner-list{
    /* border: 1px solid blue; */
    margin-top: 30px;
    width: 70vw;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px; */
    display: flex;
    flex-wrap: wrap;
    gap: 26px;
  }
  .homebanner-img{
    width: 300px;
  }
  /* -------------------Media----------------------- */
  @media only screen and (min-width: 240px) and (max-width: 768px) {
    /* .home h1, .home h2 {
      visibility: hidden;
    } */
  
    .home {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: fit-content;
      /* width: 100vw; */
      /* flex-wrap: wrap; */
    }
  
    .search-card .btns-div {
      display: flex;
      /* justify-content: center; */
      flex-wrap: wrap;
    }
    .search-card .btns-div button {
      font-size: 10px;
      text-wrap: nowrap;
    }
  
    .select {
      padding: 2px;
      margin: 0;
      width: 20px;
      flex-wrap: nowrap;
    }
  
    .input {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
  
    #input1,
    #input2, #date1,
    #date2  {
      width: 50%;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.29);
      padding: 15px 30px;
    }
  
    .input-text {
      flex-wrap: wrap;
    }
  
    .input-date {
      flex-direction: column;
      justify-content: space-between;
      gap: 30px;
    }
  
    .whereIconTo,
    .whereIconfrom {
      display: none;
    }
  
    .offer-section {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }

    .homebanner-list{
      justify-content: center;
    }
  }
  

 
  /* -------------------Media----------------------- */
  @media only screen and (min-width: 240px) and (max-width: 768px) {
    /* .home h1, .home h2 {
      visibility: hidden;
    } */
  
    .home {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: fit-content;
      /* width: 100vw; */
      /* flex-wrap: wrap; */
    }
  
    .offer-section {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
  }
  
