* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: '-apple-system,BlinkMacSystemFont,Segoe UI,Roboto',Helvetica Neue,Ubuntu,Arial,sans-serif;
}

.c{
  cursor: pointer;
}

#navBar-home {
  width: 100%;
  position: relative;

}

#navBar-home .login-popup{
  position: absolute;
  top: 100px;
  left: 200px;
}

.navheader-container{
  width: 100vw;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.03);
  /* border: 1px solid #9b999944; */
}

#navheader {
  width: 80%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  align-items: center;
}


/* -------------Expanded-login------------- */
.logout-profile{
  padding: 10px;
  border-bottom: 1px solid #5a575725;
  width: 100%;
  text-align: center;
}

.logout-account{
  gap: 35px;
  padding-left: 10px;
  margin: 10px;
  cursor: pointer;
}

.logout-account-sec h6{
  margin: 10px;
  color: #0000004a;
}

.logout-tools-sec h6{
  margin-bottom: 10px;
  color: #0000006c;
}

.account-items{
  padding-left: 10px;
  gap: 10px;
  color: #00000083;
}

.logout-account-sec h4{
  font-size: 14px;
  font-weight: 400;
  padding: 7px 0;
  color: #5a5757b0;
}

.account-items:hover{
  background-color: #5a575725;
  border-radius: 6px;
}

.tools-items{
  padding-left: 10px;
  gap: 10px;
  color: #3366cc;
}

.tools-items:hover{
  background-color: #5a575725;
  border-radius: 6px;
}

.logout-tools-sec{
  width: 50%;
  height: 100%;
  padding: 10px;
}

.logout-tools-sec h4{
  font-size: 14px;
  font-weight: 400;
  padding: 7px 0;
  color: #3366cc;
}

.expande-signout{
  border-top: 1px solid #5a575725;
  width: 100%;
  padding: 15px;
  text-align: end;
}

.expande-signout h4{
  color: red;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.logout-button{
  background-color: transparent;
  color: #000;
  font-weight: 400;
  gap: 10px;
  /* border: 1px solid rgb(145, 139, 139); */
  border-radius: 6px;
  padding: 10px;
}
.logout-button:hover{
  background-color: #f7f3f3de;
}
.logout-button:hover .fa-icon{
  background-color: #00000047;
  color: blue;
}


/* -------------Expanded-login------------- */


#navheader img {
  width: 170px;
}

#navheader .login-Btn {
  padding: 10px 20px;
  background-color: #3a63c3;
  color: #fff;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
  gap: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btnonlogin{
  background-color: transparent;
  color: #000;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 6px 12px, rgba(0, 0, 0, 0.04) 0px 2px 16px;
  
}

#navheader button:hover svg{
  color: #3366cc;
}

.sideNavBar-container{
  /* width: 100%; */
  background-color: #fff;
  flex-wrap: nowrap;
  height: 100%;
}

#sideNavBar {
  justify-content: space-around;
}

#sideNavBar-section {
  display: flex;
  gap: 5px;
  justify-content: space-evenly;
  padding: 10px;
  margin: 10px 0;
  /* border: 2px solid blue; */
}

#sideNavBar-links {
  width: 200px;
  margin: 0px 12px;
}

#sideNavBar-links li {
  list-style-type: none;
  text-align: start;
  font-size: 16px;
  margin: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

#sideNavBar-links a {
  width: 100%;
  text-decoration: none;
  color: #000;
  padding: 10px ;
}

#sideNavBar-links a:hover {
  background-color: #b0c3ef6a;
  border-radius: 6px;
}
.aside-links{
  font-size: 15px;
  font-weight: 500;
}

.signup{
  position: absolute;
  top: -100px;
  left: 300px;
}

.login-component{
  position: absolute;
  top: 10px;
  right: -47px;
}

.active{
  background-color: #b0c3ef6a;
  padding: 10px;
  border-radius: 6px;
  color:'blue'
}


/* -------------------Media------------------------ */

@media only screen and (min-width: 240px) and (max-width: 768px) {
  .login-component{
    top: 10px;
    left: 150px;
  }
  #navheader-section {
    width: 100vw;
    justify-content: space-evenly;
    padding: 0 10px;
  }

  .signup{
    position: absolute;
    left: 0px;
  }

  #navheader button {
    text-wrap: nowrap;
    font-size: 12px;
    border-radius: 50px;
  }

  #sideNavBar-section {
    align-items: center;
    padding: 10px;
  }

  #sideNavBar-links {
    width: 250px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    text-wrap: wrap;
    overflow-y: scroll;
    border-bottom: 1px solid rgba(228, 140, 7, 0.29);
  }

  #sideNavBar-links::-webkit-scrollbar {
    display: none;
  }

  #sideNavBar-links li {
    font-size: 12px;
    padding: 5px;
    margin: 2px;
    gap: 5px;
  }

  #sideNavBar-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .active {
    color: #fff;
    background: none;
    border-bottom: 1px solid blue;
    border-radius: 0px;
    padding: 10px;
  }
}
