@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
.hotel-home {
    height: fit-content;
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
    gap: 25px;
  }

  .hotel-home h1 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .hotel-home h2 {
    font-size: 16px;
    font-weight: 500;
  }

  .hotelSearch-sec{
    max-width: 550px;
  }

.search-card-hotel {
    width: 100%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 6px 12px, rgba(0, 0, 0, 0.04) 0px 2px 16px;
    margin: 20px 0;
    border-radius: 10px;
    padding: 30px;
  }

  .search-card-hotel-input-div{
    position: relative;
  }

  .location-icon{
    position: absolute;
    top: 15px;
    left: 10px;
  }

  #inputHotel{
    width: 100%;
    margin-bottom: 18px;
    padding: 20px 40px;
    border: 1px solid rgba(0, 0, 0, 0.108);
    border-radius: 6px;
    font-size: 15px;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #inputHotel:focus{
    border: 1px solid blue;
    outline: none;
  }
  #hotelDate1:focus{
    border: 1px solid blue;
    outline: none;
  }
  #hotelDate2:focus{
    border: 1px solid blue;
    outline: none;
  }

  .hotelInputExpand{
    padding: 10px;
    position: absolute;
    top: 270px;
    width: 600px;
    height: 300px;
    overflow-y: scroll;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 6px 12px, rgba(0, 0, 0, 0.04) 0px 2px 16px;
    border-radius: 6px;
    z-index: 11;
    cursor: pointer;
  }
  .hotelInputExpand::-webkit-scrollbar {
    width: 12px;
  }
  .hotelInputExpand::-webkit-scrollbar-thumb {
    background-color: #e9a208;
    border-radius: 10px;
    border: 2px solid #fff;
  }
  .hotelInputExpand::-webkit-scrollbar-track {
    background-color: #eee;
    border-radius: 10px;
  }
  .hotelInputExpand p{
    font-size: 14px;
    color: #b3b3b3;
    margin-bottom: 10px;
  }
  .input-hotel-date {
    /* width: 200px; */
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 18px;
  }

  .hotelInputExpand-content{
    gap: 10px;
  }

  .hotelInputExpand-content:hover{
    background-color: rgba(133, 133, 232, 0.085);
    border-radius: 6px;
  }

  .hotelInputExpand-content h1{
    font-size: 14px;
    text-align: start;
    width: 100%;
    padding: 5px;
  }

  #hotelDate1 {
    width: 50%;
    padding: 15px;
    margin: 15px 0;
    border: 1px solid rgba(0, 0, 0, 0.108);
    border-radius: 6px 0 0 6px;
    font-size: 100%;
  }
  
  #hotelDate2 {
    width: 50%;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.108);
    border-left: none;
    border-radius: 0 6px 6px 0;
    font-size: 100%;
  }

  .hotelSearchDiv{
    text-align: end;
  }

  #hotelSearchBtn {
    padding: 15px 60px;
    border: 1px solid rgba(0, 0, 0, 0.108);
    border-radius: 6px;
    background-color: #f77728;
    color: #fff;
    font-size: 15px;
    text-wrap: nowrap;
  }

  .hotelSelectCateg{
    width:40%;
    padding: 15px;
    gap: 5px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.108);
    cursor: pointer;
    text-wrap: nowrap;
    position: relative;
  }
  .hotelSelectCateg h4{
    font-weight: 400;
  }
  .hotelSelect-expand1{
    width: 270px;
    /* height: 200px; */
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 6px 12px, rgba(0, 0, 0, 0.04) 0px 2px 16px;
    border-radius: 7px;
    position: absolute;
    top: 52px;
    left: 0px;
  }

  .hotelSelect-expand1 h5{
    color: #b4b1b1;
    padding: 10px;
  }

  .hotelSelect-expand1 li{
    padding: 10px;
    color: #000;
    list-style-type: none;
    padding-bottom: 24px;
  }

  .hotelSelect-expand1 li:hover{
    background-color: #3366cc;
    border-radius: 6px;
    color: #fff;
  }

  .hotelSelect-expand1 p{
    color: #3366cc;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    padding-bottom: 15px;
  }

  .hotelSelectCateg-Expand{
    width: 270px;
    background-color: #fff;
    border: 1px solid #9c979745;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    top: 50px;
    left: 0;
    cursor: pointer;
    z-index: 11;
    height: fit-content;
    position: absolute;
  }

  .hotelSelectCateg-Expand-header{
    padding: 5px;
    border-bottom: 1px solid #bebfcd61;
  }

  .hotelSelectCateg-Expand-header p{
    color: #3366cc;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    padding-bottom: 15px;
  }

  .hotelSelectCateg-Expand-container h1{
    font-size: 16px;
    font-weight: 600;
  }

  .hotelSelectCateg-Expand-container h5{
    font-size: 10px;
    color: #48464684;
  }
  .hotelSelectCateg-Expand-container{
    /* border: 1px solid red; */
    margin: 20px;
  }

  .hotelChangeToPosIcon{
    font-size: 30px;
    color: #3942a6c5;
    border: 1px solid #3542d2c5;
    border-radius: 50px;
  }
  .hotelCountNegIcon{
    font-size: 30px;
    color: #bebfcdc5;
    border: 1px solid #999baac5;
    border-radius: 50px;
  }

  .hotelSelectCateg-count h1{
    font-size: 14px;
    padding: 10px;
    border-radius: 100%;
    position: relative;
    top: 4px;
  }

  .hotelAddAnother{
    gap: 10px;
    padding: 15px;
    color: #3366cc;
    font-weight: 600;
  }

  @media only screen and (min-width: 240px) and (max-width: 768px) {
    /* .home h1, .home h2 {
      visibility: hidden;
    } */
    .location-icon{
      position: absolute;
      top: 12px;
      left: 0px;
    }
    .hotel-home {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: fit-content;
    }
    .search-card-hotel{
      width: 80vw;
    }
    .search-card-hotel .btns-div {
      display: flex;
      flex-wrap: wrap;
    }
    .hotelInputExpand{
      top: 340px;
      width: 335px;
      height: 300px;
      overflow-y: scroll;
    }
    #inputHotel{
      width: 100%;
      border: none;
      border-bottom: 1px solid blue;
      border-radius: 0;
      outline: none;
      padding: 15px 30px;
    }
    #hotelDate1, #hotelDate2,
    #date2  {
      width: 40%;
      border: none;
      background-color: #fff;
      border-radius: 0;
      border-bottom: 1px solid blue;
      /* padding: 15px 10px; */
    }
    .hotelSelectCateg{
      width:50%;
      gap: 5px;
      right: 90px;
    }
    .hotelSelect-expand1{
      top: -260px;
      left: 0px;
    }
    .hotelSelectCateg-Expand{
      top: -280px;
      left: 0px;
    }
    #hotelSearchBtn {
      padding: 15px 20px;
      position: relative;
      bottom: 69px;
    }
    .input-hotel-date {
      flex-direction: column;
      justify-content: space-between;
      gap: 30px;
    }
  
    .offer-section {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
  }
  

 
  /* -------------------Media----------------------- */
  @media only screen and (min-width: 240px) and (max-width: 768px) {
    /* .home h1, .home h2 {
      visibility: hidden;
    } */
  
    .hotel-home {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: fit-content;
      /* width: 100vw; */
      /* flex-wrap: wrap; */
    }
  
    .offer-section {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
  }
  
