.g20{
    gap: 20px;
  }
.flexc{
    display: flex;
    flex-direction: column;
}
.hotelBooking .wholenav{
    justify-content: flex-start;
    padding-left: 180px;
}
.hotelBooking{
    position: relative;
}
.hotelBooking .main-section{
    width: 100%;
}
.hotelBooking .main-section-left{
    height: 100vw;
    padding: 20px;
    gap: 20px;
    /* border: 1px solid blue; */
}
.hotelinfo-left-card{
    width: 750px;
    margin: 20px 10px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 6px 12px, rgba(0, 0, 0, 0.04) 0px 2px 16px;
}
.hotelinfo-left-card-sec1{
    width: 750px;
    /* height: 50%; */
    padding: 10px 20px;
}
.hotelinfo-left-card-sec2{
    width: 750px;
    height: 50%;
    padding: 20px;
    border-top: 1px dashed #808080;
}
.hotelinfo-left-card-sec1 p{
    font-size: 14px;
    color: #808080;
    padding-bottom: 5px;
}
.hotelinfo-left-card-sec1 h1{
    font-size: 25px;
    padding-bottom: 5px;
}
.hotelinfo-left-card img{
    width: 80px;
    height: 80px;
    border-radius: 6px;
}
.hotelinfo-left-card-sec2-travell{
    width: 50%;
    padding: 0 30px 0 0;
    border-right: 1px solid #80808042;
}
.hotelinfo-left-card-sec2-travell p,.hotelinfo-left-card-sec2-rooms p{
    font-size: 12px;
    color: #808080;
    padding-bottom: 5px;
}
.hotelinfo-left-card-sec2-travell h2,.hotelinfo-left-card-sec2-rooms h1{
    font-size: 19px;
    padding-bottom: 5px;
}
.hotelinfo-left-card-sec2-rooms{
    width: 50%;
    padding: 0 0 0 30px;
    position: relative;
}
.guestinfopopup{
    width: 300px;
    height: 120px;
    position: absolute;
    top: 45px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 6px 12px, rgba(0, 0, 0, 0.04) 0px 2px 16px;
    border-radius: 8px;
    background-color: #fff;
    z-index: 2;
}
.hotelinfo-left-card-sec3, .hotelinfo-left-card-sec4, .hotelinfo-left-card-sec5{
    width: 750px;
    padding: 20px 10px;
    margin-top: 30px;
    border-bottom: 1px dashed #80808042;
}
.hotelinfo-left-card-sec3 h3, .hotelinfo-left-card-sec4 h3, .hotelinfo-left-card-sec5 h3{
    padding-bottom: 10px;
}
.hotelinfo-left-card-sec3 img{
    width: 250px;
    /* height: 90px; */
    border-radius: 6px;
}
.hotelinfo-left-card-sec3 p, .hotelinfo-left-card-sec4 p,  .hotelinfo-left-card-sec5 p{
    font-size: 14px;
    width: 700px;
    /* padding-bottom: 10px; */
    text-wrap: wrap;
    color: #808080;
}
.moreDetailsAboutRoom{
    width: 40%;
    height: 400px;
    position: absolute;
    background-color: #fff;
    top: 250px;
    right: 300px;
    z-index: 2;
}
.booking-transparent{
    width: 100vw;
    height: 100%;
    background-color: #0000002c;
    position: absolute;
    top: 0;
    z-index: 1;
}
.hotelinfo-left-card-sec5{
    position: relative;
}
.seemore{
    width: 40vw;
    position: absolute;
    background-color: #fff;
    top: 0px;
    right: 0;
    z-index: 2;
}


.hotelInfo-emailInput, .hotelInfo-numberInput, .fname, .lname{
    padding: 20px;
    border-radius: 8px;
    width: 370px;
    border: 1px solid #80808080;
}
.hotelInfo-buttondiv button{
    padding: 20px 40px;
    background-color: #ff4f17;
    border-radius: 8px;
}

.hotelBooking .main-section-right{
    width: 25%;
    height: 100vw;
    padding-top: 20px;
    /* border: 1px solid yellow; */
}
.main-section-right-sec1{
    width: 270px;
    height: fit-content;
    border-radius: 15px;
    border: 1px solid #80808033;
}
.main-section-right-sec1-pricing{
    width: 100%;
    gap: 15px;
    border-bottom: 1px dashed #80808033;
    padding: 15px;
}
.main-section-right-sec1-pricing h1, .main-section-right-sec1-total h1{
    font-size: 18px;
}
.main-section-right-sec1-pricing p, .main-section-right-sec1-total p{
    font-size: 12px;
    color: #808080;
}
.main-section-right-sec1-total{
    padding: 15px;
}
.main-section-right-sec1-offersaving{
    padding: 10px;
    background-color: #11a66f34;
    border-radius: 0 0 15px 15px;
}


/* ------------------hotelPayment------------------ */
.payment-active{
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    color: blue;
    background-color: rgba(113, 113, 126, 0.199);
}
.hotelPayment{
    width: 100vw;
    height: 100vh;
}
.hotelPayment-main{
    /* width: 700px; */
    height: 70%;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 6px 12px, rgba(0, 0, 0, 0.04) 0px 2px 16px;
    position: relative;
}
.hotelPayment-Upi{
    width: 600px;
    height: 100%;
}
.hotelPayment-QR{
    width: 350px;
    padding: 20px;
    height: 100%;
}
.hotelPayment-Upi-options{
    /* width: 400px; */
    height: 100%;
    padding: 10px;
}
.hotelPayment-Upi-option1, .hotelPayment-Upi-option2{
    width: 170px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
}
.hotelPayment-Upi-option1 h4, .hotelPayment-Upi-option2 h4{
   /* color: blue; */
   font-weight: 500;
   text-wrap: nowrap;
}
.hotelPayment-Upi-option1-form{
    width: 600px;
    padding: 10px;
    gap: 10px;
    border-right: 1px solid #6b68682c;
}

.hotelPayment-Upi-option1-form input{
   padding: 8px;
   width: 100%;
   border-radius: 3px;
   border: 1px solid #808080;
}
.hotelCard{
    margin-bottom: 10px;
}
.hotelPayment-Upi-option1-form input:hover{
   border:1px solid rgba(113, 113, 126, 0.199);
}
.hotelPayment-Upi-option1-form h3{
   font-size: 16px;
}
.hotelPayment-Upi-option1-form p{
   color: #808080;
   font-size: 12px;
}
.hotelPayment-debit-option1-form{
    width: 500px;
    padding: 10px;
}
.hotelPayment-debit-option1-form .CVV{
    width: 50px;
}
.hotelDebitform{
    flex-direction: column;
    gap: 20px;
}
.hotelDebitform select{
    margin: 0;
    padding: 10px;
    border: 1px solid #a7a1a1;
}
.hotelDebitform input{
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #a7a1a1;
}
.activemonth{
    background-color: blue;
    margin-bottom: 2px;
    padding: 2px 10px;
    color: #fff;
}
.hotelPayment-QR h1{
    font-size: 16px;
    margin-bottom: 30px;
}
.showqrcode{
    align-items: center;
    border: 1px solid #999494;
    padding: 20px 0;
    border-radius: 6px;
}
.upiicon{
    width: 70px;
}
.upiscanner{
    width: 120px;
}
.termsandsubmission{
    width: 100%;
}
.termssubmit{
    width: 600px;
}
.termssubmit label{
    width: fit-content;
}
.paysubmit {
    align-items: flex-end;
}
.paysubmit h1{
    font-size: 14px;
}
.paysubmit p{
    font-size: 9px;
    color: #808080;
    text-wrap: nowrap;
}
.termsandsubmission button{
    padding: 10px 25px;
    border-radius: 6px;
    text-wrap: nowrap;
    background-color: #f77728;
}
.paymentPopup{
    width: 300px;
    height: 300px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 6px 12px, rgba(0, 0, 0, 0.04) 0px 2px 16px;
    background-color: #fff;
    position: absolute;
    top: 50px;
    left: 150px;
    z-index: 2;
}
.payment-transparent{
    width: 100%;
    height: 100%;
    background-color: #8080806b;
    position: absolute;
    top: 0;
    z-index: 1;
}